<!DOCTYPE html>
<!--HTML5 doctype-->
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="<%templateskin%>/css/mui.css" rel="stylesheet" />
<title>提示信息</title>
<style>
	.wrap-box h2{
		font-size:14px;
		text-align: center;
		position: absolute;
		top: 50%;
		width: 100%;
		height: 1rem;
		line-height: 1rem;
		color: #333;
		left: 0;
	}
</style>

</head>

<body>

 


      
     <div class="mui-content">
     	 <div class="wrap-box">
        <h2>出错啦！</h2>
        <div class="tip">
          <span class="icon close"></span>
          <p>{msg}</p>
        </div>
      </div>
     </div>
    
	
      
  

<script src="<%templateskin%>/js/mui.min.js"></script>
</body>
</html>
