<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>密码修改成功</title>
		<link rel="stylesheet" href="<%templateskin%>/css/base.css" />
		<link rel="stylesheet" href="<%templateskin%>/css/mui.css" />
		<link rel="stylesheet" href="<%templateskin%>/css/style.css" />
		<style type="text/css">
			.pwd_suced{
				min-height: 100%;
				background: #f2f2f2;
			}
		</style>
	</head>
	<body>
		<div class="mui-content pwd_suced">
		    <img src="<%templateskin%>/images/success.png" alt="" />
		    <p>密码修改成功</p>
		</div>
	</body>
</html>
