<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>分享二维码</title>
		<link rel="stylesheet" href="<%templateskin%>/css/base.css" />
		<link rel="stylesheet" href="<%templateskin%>/css/mui.min.css" />
		<link rel="stylesheet" href="<%templateskin%>/css/style.css" />
		<style type="text/css">
			.ewm_imgbox{
				top: 32%;
				height: 40%;
			}
			.ewm_imgbox img{
				height: 95%;
			}
			.share_ewm{
				background-size:100% 100% ;
			}
		</style>
	</head>
	<body>
		<div class="mui-content share_ewm">
			<div class="ewm_imgbox">
				<img src="{erweima}" />
			</div>
		</div>
	</body>
	<script src="<%templateskin%>/js/jquery-3.0.0.min.js"></script>
	<script src="<%templateskin%>/js/mui.min.js"></script>
</html>
