<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="<%templateskin%>/css/mui.min.css" rel="stylesheet" />
		<link href="<%templateskin%>/css/style.css" rel="stylesheet" />
		<title>退货须知</title>
		<style type="text/css">
			body{
				font-size: 12px;
				background: #F2F2F2;
			}
			.wenzhang h3{
				margin-bottom: 15px;
				font-size: 18px;
				font-weight: normal;
			}
			.wenzhang{
				padding: 15px;
			}
			.wenzhang h4{
				font-size: 16px;
				line-height: 24px;
				font-weight: normal;
				
			}
			.wenzhang p{
				line-height: 24px;
				color: #333;
			}
			.mui-content{
				background: #F4F4F4 !important;
			}
		</style>
	</head>
	<body>
		<div class="mui-content wenzhang">
			
			<h3>退货须知</h3>
			<p>				1.时间</p>
			<p>若因质量问题请在收到之日起3个工作日内联系客服进行换货。申请退货金额将在1-3个工作日退回至客户账户。</p>
			<p>2.换货原因</p>
			<p>商品质量问题。收到商品与商城详情不符。</p>
			<p>3.换货流程</p>
			<p>首先确认需换货商品为非人为损坏。将附件、购物凭证、包装礼盒、商品及捆绑的赠品一并返回我司办理换货手续。
如果顾客在使用时对商品质量表示质疑，须出具书面鉴定，商城将按照国家法律规定予以处理。</p>
			<p>4.注意事项</p>
			<p>如有缺失附件无法更换。红酒已开瓶等不予换货。包装含防伪码的商品防伪码一经刮开不予换货。</p>
			<p>5.退货须知</p>
			<p>满足底下任意要求，即可自行选择点击无理由退货。购买商城中任意商品，未参与升级促销及申请提货的，可直接在“我的订单”中申请退货。
升级成功的商品在未提货的前提下可直接在“我的订单”中申请提款。
</p>
			<p style="color: #7D0000;">温馨提示:</p>
			<p style="color: #7D0000;">请您认真并完全理解，同意上述的退货要须知与操作流程，如您不能完全理解或同意本退货须知，您可以选择不操作商品退货的申请。</p>
		</div>
	</body>
	
</html>