<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="<%templateskin%>/css/mui.min.css" rel="stylesheet" />
		<link href="<%templateskin%>/css/style.css" rel="stylesheet" />
		<title>充值提现教程</title>
		<style type="text/css">
			body{
				font-size: 12px;
				background: #F2F2F2;
			}
			.wenzhang h3{
				margin-bottom: 15px;
				font-size: 18px;
				font-weight: normal;
			}
			.wenzhang{
				padding: 15px;
			}
			.wenzhang h4{
				font-size: 16px;
				line-height: 24px;
				font-weight: normal;
				
			}
			.wenzhang p{
				line-height: 24px;
				color: #333;
			}
			.mui-content{
				background: #fff !important;
			}
.wenzhang img{width:100%;}
		</style>
	</head>
	<body>
		<div class="mui-content wenzhang">
			<img src="/images/txjc/1.png"/>
<img src="/images/txjc/2.png"/>
<img src="/images/txjc/3.png"/>
<img src="/images/txjc/4.png"/>
<img src="/images/txjc/5.png"/>
<img src="/images/txjc/6.png"/>
<img src="/images/txjc/7.png"/>
<img src="/images/txjc/8.png"/>
<img src="/images/txjc/9.png"/>
		</div>
	</body>
	
</html>