<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="<%templateskin%>/css/mui.min.css" rel="stylesheet" />
		<link href="<%templateskin%>/css/style.css" rel="stylesheet" />
		<title>充值提现须知</title>
		<style type="text/css">
			body{
				font-size: 12px;
				background: #F2F2F2;
			}
			.wenzhang h3{
				margin-bottom: 15px;
				font-size: 18px;
				font-weight: normal;
			}
			.wenzhang{
				padding: 15px;
			}
			.wenzhang h4{
				font-size: 16px;
				line-height: 24px;
				font-weight: normal;
				
			}
			.wenzhang p{
				line-height: 24px;
				color: #333;
			}
			.mui-content{
				background: #fff !important;
			}
		</style>
	</head>
	<body>
		<div class="mui-content wenzhang">
			<h2 style="margin-top:0;margin-right:0;margin-bottom:11px;margin-left:0;text-indent:0;border-bottom:1px solid rgb(231,231,235);padding:0 0 8px 0 ;text-align:center;background:rgb(255,255,255)">
    <strong><span style="font-family: 宋体;letter-spacing: 0;font-size: 21px"><span style="font-family:宋体">充值提现须知</span></span></strong>
</h2>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;color: rgb(255, 0, 0);letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">一、</span></span><span style="font-family: 宋体;color: rgb(255, 0, 0);letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">客户提现规则</span></span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)">1、</span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">实名认证未通过审核不可提现；</span></span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)">2、</span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">持卡人姓名和银行预留号码，若与实名信息不一致则提现失败。</span></span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;color: rgb(248, 5, 5);letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)">&nbsp;</span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;color: rgb(255, 0, 0);letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">二、</span></span><span style="font-family: 宋体;color: rgb(255, 0, 0);letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">充值提现方式</span></span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)">1、</span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">微信</span></span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">下单支付</span></span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)">2、微信扫码支付</span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)">&nbsp;</span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;color: rgb(255, 0, 0);letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">三、</span></span><span style="font-family: 宋体;color: rgb(255, 0, 0);letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">充值提现时间</span></span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">微信充值时间：</span></span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">全天</span>24小时。</span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)">&nbsp;</span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;color: rgb(255, 0, 0);letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">四、</span></span><span style="font-family: 宋体;color: rgb(255, 0, 0);letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">充值提现手续费</span></span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">微信</span></span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">下单支付</span></span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">（</span></span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)">1</span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)">%）；</span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">微信扫码支付</span></span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">（</span></span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)">1</span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)">%）；</span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">余额</span></span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">提现，手续费</span></span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)">0.2%</span><strong><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)">/</span></strong><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">笔</span></span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">。</span></span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)">&nbsp;</span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;color: rgb(255, 0, 0);letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">五、</span></span><span style="font-family: 宋体;color: rgb(255, 0, 0);letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">充值提现上下限</span></span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;text-align:justify;text-justify:inter-ideograph;line-height:20px">
    <span style="font-family: 宋体;color: rgb(0, 176, 240);letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">微信零钱支付：</span></span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;text-align:justify;text-justify:inter-ideograph;line-height:20px">
    <span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">微信支付用户使用零钱支付额度为：单笔单日</span>20000元。</span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;text-align:justify;text-justify:inter-ideograph;line-height:20px">
    <span style="font-family: 宋体;color: rgb(0, 176, 240);letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">微信储蓄卡支付：</span></span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;text-align:justify;text-justify:inter-ideograph;line-height:20px">
    <span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">目前微信储蓄卡支付的额度为：除重庆银行单笔</span>1000元，单日</span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;text-align:justify;text-justify:inter-ideograph;line-height:20px">
    <span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)">3000元，北京银行单笔单日1500元，其余银行限额需以微信支付限额为准</span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">；</span></span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">多卡可累加，具体充值限额需结合每位客户银行卡设置的限额，取较低值。</span></span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;color: rgb(0, 176, 240);letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">微信信用</span></span><span style="font-family: 宋体;color: rgb(0, 176, 240);letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">卡支付：</span></span>
</p>
<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0 0 0 0 ;line-height:20px">
    <span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">多卡可累加，具体充值限额需结合每位客户银行</span></span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">信用</span></span><span style="font-family: 宋体;letter-spacing: 0;font-size: 19px;background: rgb(255, 255, 255)"><span style="font-family:宋体">卡设置的限额，取较低值。</span></span>
</p>
<p>
    <br/>
</p>
		</div>
	</body>
	
</html>