<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="Qrcms.Web.UI.Page.index" templet="index.html">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="search" type="other" page="search.aspx" inherit="Qrcms.Web.UI.Page.search" templet="search.html" />
  <rewrite name="error" type="other" page="error.aspx" inherit="Qrcms.Web.UI.Page.error" templet="error.html" />
  <rewrite name="cart" type="other" page="cart.aspx" inherit="Qrcms.Web.UI.Page.cart" templet="cart.html" />
  <rewrite name="shopping" type="other" page="shopping.aspx" inherit="Qrcms.Web.UI.Page.shopping" templet="shopping.html" />
  <rewrite name="payment" type="other" page="payment.aspx" inherit="Qrcms.Web.UI.Page.payment" templet="payment.html">
  </rewrite>
  <rewrite name="login" type="other" page="login.aspx" inherit="Qrcms.Web.UI.Page.login" templet="login.html" />
  <rewrite name="oauth_login" type="other" page="oauth_login.aspx" inherit="Qrcms.Web.UI.Page.oauth_login" templet="oauth_login.html" />
  <rewrite name="register" type="other" page="register.aspx" inherit="Qrcms.Web.UI.Page.register" templet="register.html">
    <item path="register.aspx" pattern="register.aspx" />
  </rewrite>
  <rewrite name="repassword" type="other" page="repassword.aspx" inherit="Qrcms.Web.UI.Page.repassword" templet="repassword.html" />
  <rewrite name="usercenter" type="other" page="usercenter.aspx" inherit="Qrcms.Web.UI.Page.usercenter" templet="usercenter.html">
    <item path="user/center/{0}.aspx" pattern="user/center/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="usermessage" type="other" page="usermessage.aspx" inherit="Qrcms.Web.UI.Page.usermessage" templet="usermessage.html">
    <item path="user/message/{0}.aspx" pattern="user/message/(\w+).aspx" querystring="action=$1" />
    <item path="user/message/{0}/{1}.aspx" pattern="user/message/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="usermessage_show" type="other" page="usermessage_show.aspx" inherit="Qrcms.Web.UI.Page.usermessage_show" templet="usermessage_show.html">
    <item path="user/message/show-{0}.aspx" pattern="user/message/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="userpoint" type="other" page="userpoint.aspx" inherit="Qrcms.Web.UI.Page.userpoint" templet="userpoint.html">
    <item path="user/point/{0}.aspx" pattern="user/point/(\w+).aspx" querystring="action=$1" />
    <item path="user/point/{0}-{1}.aspx" pattern="user/point/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useramount" type="other" page="useramount.aspx" inherit="Qrcms.Web.UI.Page.useramount" templet="useramount.html">
    <item path="user/amount/{0}.aspx" pattern="user/amount/(\w+).aspx" querystring="action=$1" />
    <item path="user/amount/{0}-{1}.aspx" pattern="user/amount/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useraddress" type="other" page="useraddress.aspx" inherit="Qrcms.Web.UI.Page.useraddress" templet="useraddress.html">
    <item path="user/address.aspx" pattern="user/address.aspx" />
    <item path="user/address-{0}.aspx" pattern="user/address-(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="useraddress_edit" type="other" page="useraddress_edit.aspx" inherit="Qrcms.Web.UI.Page.useraddress_edit" templet="useraddress_edit.html">
    <item path="user/address/{0}.aspx" pattern="user/address/(\w+).aspx" querystring="action=$1" />
    <item path="user/address/{0}-{1}.aspx" pattern="user/address/(\w+)-(\d+).aspx" querystring="action=$1^id=$2" />
  </rewrite>
  <rewrite name="userorder" type="other" page="userorder.aspx" inherit="Qrcms.Web.UI.Page.userorder" templet="userorder.html">
    <item path="user/order-{0}.aspx" pattern="user/order-(\w+).aspx" querystring="action=$1" />
    <item path="user/order-{0}-{1}.aspx" pattern="user/order-(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder_show" type="other" page="userorder_show.aspx" inherit="Qrcms.Web.UI.Page.userorder_show" templet="userorder_show.html">
    <item path="user/order/show-{0}.aspx" pattern="user/order/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="news" type="index" page="news.aspx" inherit="Qrcms.Web.UI.Page.article" templet="news.html" channel="news">
    <item path="news.aspx" pattern="news.aspx" />
  </rewrite>
  <rewrite name="news_list" type="list" page="news_list.aspx" inherit="Qrcms.Web.UI.Page.article_list" templet="news_list.html" channel="news" pagesize="10">
    <item path="news/{0}.aspx" pattern="news/(\d+).aspx" querystring="category_id=$1" />
    <item path="news/{0}/{1}.aspx" pattern="news/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="news_show" type="detail" page="news_show.aspx" inherit="Qrcms.Web.UI.Page.article_show" templet="news_show.html" channel="news">
    <item path="news/show-{0}.aspx" pattern="news/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="photo" type="index" page="photo.aspx" inherit="Qrcms.Web.UI.Page.article" templet="photo.html" channel="photo">
    <item path="photo.aspx" pattern="photo.aspx" />
  </rewrite>
  <rewrite name="photo_list" type="list" page="photo_list.aspx" inherit="Qrcms.Web.UI.Page.article_list" templet="photo_list.html" channel="photo" pagesize="20">
    <item path="photo/{0}.aspx" pattern="photo/(\d+).aspx" querystring="category_id=$1" />
    <item path="photo/{0}/{1}.aspx" pattern="photo/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="photo_show" type="detail" page="photo_show.aspx" inherit="Qrcms.Web.UI.Page.article_show" templet="photo_show.html" channel="photo">
    <item path="photo/show-{0}.aspx" pattern="photo/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="down" type="index" page="down.aspx" inherit="Qrcms.Web.UI.Page.article" templet="down.html" channel="down">
    <item path="down.aspx" pattern="down.aspx" />
  </rewrite>
  <rewrite name="down_list" type="list" page="down_list.aspx" inherit="Qrcms.Web.UI.Page.article_list" templet="down_list.html" channel="down" pagesize="20">
    <item path="down/{0}.aspx" pattern="down/(\d+).aspx" querystring="category_id=$1" />
    <item path="down/{0}/{1}.aspx" pattern="down/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="down_show" type="detail" page="down_show.aspx" inherit="Qrcms.Web.UI.Page.article_show" templet="down_show.html" channel="down">
    <item path="down/show-{0}.aspx" pattern="down/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="content" type="detail" page="content.aspx" inherit="Qrcms.Web.UI.Page.article_show" templet="content.html" channel="content">
    <item path="content/{0}.aspx" pattern="content/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="video" type="index" page="video.aspx" inherit="Qrcms.Web.UI.Page.article" templet="video.html" channel="video">
    <item path="video.aspx" pattern="video.aspx" />
  </rewrite>
  <rewrite name="video_list" type="list" page="video_list.aspx" inherit="Qrcms.Web.UI.Page.article_list" templet="video_list.html" channel="video" pagesize="20">
    <item path="video/{0}.aspx" pattern="video/(\d+).aspx" querystring="category_id=$1" />
    <item path="video/{0}/{1}.aspx" pattern="video/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="video_show" type="detail" page="video_show.aspx" inherit="Qrcms.Web.UI.Page.article_show" templet="video_show.html" channel="video">
    <item path="video/show-{0}.aspx" pattern="video/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="feedback" type="plugin" page="feedback.aspx" inherit="Qrcms.Web.Plugin.Feedback.feedback" templet="feedback.html">
    <item path="feedback.aspx" pattern="feedback.aspx" />
    <item path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="mfeedback" type="plugin" page="mfeedback.aspx" inherit="Qrcms.Web.Plugin.Feedback.feedback" templet="mfeedback.html">
    <item path="mfeedback.aspx" pattern="mfeedback.aspx" />
    <item path="mfeedback/{0}.aspx" pattern="mfeedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="link" type="plugin" page="link.aspx" inherit="Qrcms.Web.Plugin.Link.link" templet="link.html">
    <item path="link.aspx" pattern="link.aspx" />
  </rewrite>
  <rewrite name="change_password" type="other" page="change_password.aspx" inherit="Qrcms.Web.UI.Page.article" templet="change_password.html">
    <item path="change_password.aspx" pattern="change_password.aspx" />
  </rewrite>
  <rewrite name="realname_rz" type="other" page="realname_rz.aspx" inherit="Qrcms.Web.UI.Page.usercenter" templet="realname_rz.html">
    <item path="realname_rz.aspx" pattern="realname_rz.aspx" />
  </rewrite>
  <rewrite name="tixian" type="other" page="tixian.aspx" inherit="Qrcms.Web.UI.Page.usercenter" templet="tixian.html">
    <item path="tixian.aspx" pattern="tixian.aspx" />
  </rewrite>
  <rewrite name="add_address" type="other" page="add_address.aspx" inherit="Qrcms.Web.UI.Page.useraddress" templet="add_address.html">
    <item path="add_address.aspx" pattern="add_address.aspx" />
  </rewrite>
  <rewrite name="add_bankcard" type="other" page="add_bankcard.aspx" inherit="Qrcms.Web.UI.Page.article" templet="add_bankcard.html">
    <item path="add_bankcard.aspx" pattern="add_bankcard.aspx" />
  </rewrite>
  <rewrite name="chongzhi" type="other" page="chongzhi.aspx" inherit="Qrcms.Web.UI.Page.article" templet="chongzhi.html">
    <item path="chongzhi.aspx" pattern="chongzhi.aspx" />
  </rewrite>
  <rewrite name="wj_password" type="other" page="wj_password.aspx" inherit="Qrcms.Web.UI.Page.repassword" templet="wj_password.html">
    <item path="wj_password.aspx" pattern="wj_password.aspx" />
  </rewrite>
  <rewrite name="my_money" type="other" page="my_money.aspx" inherit="Qrcms.Web.UI.Page.usercenter" templet="my_money.html">
    <item path="my_money.aspx" pattern="my_money.aspx" />
  </rewrite>
  <rewrite name="my_yue" type="other" page="my_yue.aspx" inherit="Qrcms.Web.UI.Page.usercenter" templet="my_yue.html">
    <item path="my_yue.aspx" pattern="my_yue.aspx" />
  </rewrite>
  <rewrite name="my_yongjin" type="other" page="my_yongjin.aspx" inherit="Qrcms.Web.UI.Page.usercenter" templet="my_yongjin.html">
    <item path="my_yongjin.aspx" pattern="my_yongjin.aspx" />
  </rewrite>
  <rewrite name="share_ewm" type="other" page="share_ewm.aspx" inherit="Qrcms.Web.UI.Page.wx_ewm" templet="share_ewm.html">
    <item path="share_ewm.aspx" pattern="share_ewm.aspx" />
  </rewrite>
  <rewrite name="realname_sucess" type="other" page="realname_sucess.aspx" inherit="Qrcms.Web.UI.Page.usercenter" templet="realname_sucess.html">
    <item path="realname_sucess.aspx" pattern="realname_sucess.aspx" />
  </rewrite>
  <rewrite name="confirm_order" type="other" page="confirm_order.aspx" inherit="Qrcms.Web.UI.Page.article" templet="confirm_order.html">
    <item path="confirm_order.aspx" pattern="confirm_order.aspx" />
  </rewrite>
  <rewrite name="password_sucess" type="other" page="password_sucess.aspx" inherit="Qrcms.Web.UI.Page.article" templet="password_sucess.html">
    <item path="password_sucess.aspx" pattern="password_sucess.aspx" />
  </rewrite>
  <rewrite name="shop_fahuo" type="other" page="shop_fahuo.aspx" inherit="Qrcms.Web.UI.Page.article" templet="shop_fahuo.html">
    <item path="shop_fahuo.aspx" pattern="shop_fahuo.aspx" />
  </rewrite>
  <rewrite name="shop_cart" type="other" page="shop_cart.aspx" inherit="Qrcms.Web.UI.Page.article" templet="shop_cart.html">
    <item path="shop_cart.aspx" pattern="shop_cart.aspx" />
  </rewrite>
  <rewrite name="person_zl" type="other" page="person_zl.aspx" inherit="Qrcms.Web.UI.Page.usercenter" templet="person_zl.html">
    <item path="person_zl.aspx" pattern="person_zl.aspx" />
  </rewrite>
  <rewrite name="mingxi" type="other" page="mingxi.aspx" inherit="Qrcms.Web.UI.Page.article" templet="mingxi.html">
    <item path="mingxi.aspx" pattern="mingxi.aspx" />
  </rewrite>
  <rewrite name="my_orderlist" type="other" page="my_orderlist.aspx" inherit="Qrcms.Web.UI.Page.userorder" templet="my_orderlist.html" pagesize="8">
    <item path="my_orderlist/{0}.aspx" pattern="my_orderlist/(\d+).aspx" querystring="status=$1" />
    <item path="my_orderlist/{0}/{1}.aspx" pattern="my_orderlist/(\d+)/(\d+).aspx" querystring="status=$1^page=$2" />
  </rewrite>
  <rewrite name="redbao_record" type="other" page="redbao_record.aspx" inherit="Qrcms.Web.UI.Page.userorder" templet="redbao_record.html">
    <item path="redbao_record.aspx" pattern="redbao_record.aspx" />
  </rewrite>
  <rewrite name="upgrade_record" type="other" page="upgrade_record.aspx" inherit="Qrcms.Web.UI.Page.userorder" templet="upgrade_record.html">
    <item path="upgrade_record.aspx" pattern="upgrade_record.aspx" />
  </rewrite>
  <rewrite name="my_tuijian" type="other" page="my_tuijian.aspx" inherit="Qrcms.Web.UI.Page.usercenter" templet="my_tuijian.html">
    <item path="my_tuijian.aspx" pattern="my_tuijian.aspx" />
  </rewrite>
  <rewrite name="my_upgrade" type="other" page="my_upgrade.aspx" inherit="Qrcms.Web.UI.Page.article" templet="my_upgrade.html">
    <item path="my_upgrade.aspx" pattern="my_upgrade.aspx" />
  </rewrite>
  <rewrite name="paihang" type="other" page="paihang.aspx" inherit="Qrcms.Web.UI.Page.article" templet="paihang.html">
    <item path="paihang.aspx" pattern="paihang.aspx" />
  </rewrite>
  <rewrite name="redbag_show" type="other" page="redbag_show.aspx" inherit="Qrcms.Web.UI.Page.article" templet="redbag_show.html">
    <item path="redbag_show.aspx" pattern="redbag_show.aspx" />
  </rewrite>
  <rewrite name="my_jifen" type="other" page="my_jifen.aspx" inherit="Qrcms.Web.UI.Page.usercenter" templet="my_jifen.html">
    <item path="my_jifen.aspx" pattern="my_jifen.aspx" />
  </rewrite>
  <rewrite name="upgrade_show" type="other" page="upgrade_show.aspx" inherit="Qrcms.Web.UI.Page.userorder_show" templet="upgrade_show.html">
    <item path="upgrade_show-{0}.aspx" pattern="upgrade_show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="caijiou" type="other" page="caijiou.aspx" inherit="Qrcms.Web.UI.Page.article" templet="caijiou.html">
    <item path="caijiou.aspx" pattern="caijiou.aspx" />
  </rewrite>
  <rewrite name="chaihb" type="other" page="chaihb.aspx" inherit="Qrcms.Web.UI.Page.article" templet="chaihb.html">
    <item path="chaihb.apsx" pattern="chaihb.apsx" />
  </rewrite>
  <rewrite name="take_good" type="other" page="take_good.aspx" inherit="Qrcms.Web.UI.Page.userorder_show" templet="take_good.html">
    <item path="take_good-{0}.aspx" pattern="take_good-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="choose_add" type="other" page="choose_add.aspx" inherit="Qrcms.Web.UI.Page.useraddress" templet="choose_add.html" pagesize="10">
    <item path="choose_add/{0}.aspx" pattern="choose_add/(\d+).aspx" querystring="category_id=$1" />
    <item path="choose_add/{0}/{1}.aspx" pattern="choose_add/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="withdraw" type="other" page="withdraw.aspx" inherit="Qrcms.Web.UI.Page.userorder_show" templet="withdraw.html">
    <item path="withdraw-{0}.aspx" pattern="withdraw-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="goods" type="index" page="goods.aspx" inherit="Qrcms.Web.UI.Page.article" templet="goods.html" channel="goods">
    <item path="goods.aspx" pattern="goods.aspx" />
  </rewrite>
  <rewrite name="goods_list" type="list" page="goods_list.aspx" inherit="Qrcms.Web.UI.Page.article_list" templet="goods_list.html" channel="goods" pagesize="20">
    <item path="goods/{0}.aspx" pattern="goods/(\d+).aspx" querystring="category_id=$1" />
    <item path="goods/{0}/{1}.aspx" pattern="goods/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="gsearch" type="list" page="gsearch.aspx" inherit="Qrcms.Web.UI.Page.article_list" templet="gsearch.html" channel="goods" pagesize="20" />
  <rewrite name="goods_show" type="detail" page="goods_show.aspx" inherit="Qrcms.Web.UI.Page.article_show" templet="goods_show.html" channel="goods">
    <item path="goods/show-{0}.aspx" pattern="goods/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="brand_zt" type="list" page="brand_zt.aspx" inherit="Qrcms.Web.UI.Page.article_list" templet="brand_zt.html" channel="goods" pagesize="10">
    <item path="brand_zt/{0}.aspx" pattern="brand_zt/(\d+).aspx" querystring="category_id=$1" />
    <item path="brand_zt/{0}/{1}.aspx" pattern="brand_zt/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="sj_products" type="list" page="sj_products.aspx" inherit="Qrcms.Web.UI.Page.article_list" templet="sj_products.html" channel="goods" pagesize="10">
    <item path="sj_products/{0}.aspx" pattern="sj_products/(\d+).aspx" querystring="category_id=$1" />
    <item path="sj_products/{0}/{1}.aspx" pattern="sj_products/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="duihuan_zq" type="list" page="duihuan_zq.aspx" inherit="Qrcms.Web.UI.Page.article_list" templet="duihuan_zq.html" channel="goods" pagesize="6">
    <item path="duihuan_zq/{0}.aspx" pattern="duihuan_zq/(\d+).aspx" querystring="category_id=$1" />
    <item path="duihuan_zq/{0}/{1}.aspx" pattern="duihuan_zq/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="duihuan_show" type="detail" page="duihuan_show.aspx" inherit="Qrcms.Web.UI.Page.article_show" templet="duihuan_show.html" channel="goods">
    <item path="duihuan_show-{0}.aspx" pattern="duihuan_show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="myaddress" type="other" page="myaddress.aspx" inherit="Qrcms.Web.UI.Page.useraddress" templet="myaddress.html" pagesize="10">
    <item path="myaddress/{0}.aspx" pattern="myaddress/(\d+).aspx" querystring="category_id=$1" />
    <item path="myaddress/{0}/{1}.aspx" pattern="myaddress/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="edit_add" type="other" page="edit_add.aspx" inherit="Qrcms.Web.UI.Page.useraddress_edit" templet="edit_add.html">
    <item path="edit_add.aspx" pattern="edit_add.aspx" />
  </rewrite>
  <rewrite name="yj_mingxi" type="other" page="yj_mingxi.aspx" inherit="Qrcms.Web.UI.Page.article" templet="yj_mingxi.html">
    <item path="yj_mingxi.aspx" pattern="yj_mingxi.aspx" />
  </rewrite>
  <rewrite name="jf_mingxi" type="other" page="jf_mingxi.aspx" inherit="Qrcms.Web.UI.Page.userpoint" templet="jf_mingxi.html">
    <item path="yj_mingxi/{0}.aspx" pattern="yj_mingxi/(\w+).aspx" querystring="action=$1" />
    <item path="jf_mingxi/{0}-{1}}.aspx" pattern="jf_mingxi/(\w+)-(\w+)}.aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="wjmm" type="other" page="wjmm.aspx" inherit="Qrcms.Web.UI.Page.article" templet="wjmm.html">
    <item path="wjmm.aspx" pattern="wjmm.aspx" />
  </rewrite>
  <rewrite name="sz_mingxi" type="other" page="sz_mingxi.aspx" inherit="Qrcms.Web.UI.Page.useramount" templet="sz_mingxi.html">
    <item path="sz_mingxi/{0}.aspx" pattern="sz_mingxi/(\w+).aspx" querystring="action=$1" />
    <item path="sz_mingxi/{0}-{1}.aspx" pattern="sz_mingxi/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="cz_mingxi" type="other" page="cz_mingxi.aspx" inherit="Qrcms.Web.UI.Page.useramount" templet="cz_mingxi.html">
    <item path="cz_mingxi/{0}.aspx" pattern="cz_mingxi/(\w+).aspx" querystring="action=$1" />
    <item path="cz_mingxi/{0}-{1}.aspx" pattern="cz_mingxi/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="choose_bank" type="other" page="choose_bank.aspx" inherit="Qrcms.Web.UI.Page.article" templet="choose_bank.html">
    <item path="choose_bank.aspx" pattern="choose_bank.aspx" />
  </rewrite>
  <rewrite name="hbth" type="other" page="hbth.aspx" inherit="Qrcms.Web.UI.Page.userorder" templet="hbth.html" pagesize="10">
    <item path="hbth/{0}.aspx" pattern="hbth/(\d+).aspx" querystring="status=$1" />
    <item path="hbth/{0}/{1}.aspx" pattern="hbth/(\d+)/(\d+).aspx" querystring="status=$1^page=$2" />
  </rewrite>
  <rewrite name="my_yeji" type="other" page="my_yeji.aspx" inherit="Qrcms.Web.UI.Page.article" templet="my_yeji.html">
    <item path="my_yeji.aspx" pattern="my_yeji.aspx" />
  </rewrite>
  <rewrite name="my_ylxq" type="other" page="my_ylxq.aspx" inherit="Qrcms.Web.UI.Page.article" templet="my_ylxq.html">
    <item path="my_ylxq.aspx" pattern="my_ylxq.aspx" />
  </rewrite>
  <rewrite name="wenzhang" type="other" page="wenzhang.aspx" inherit="Qrcms.Web.UI.Page.article" templet="wenzhang.html">
    <item path="wenzhang.aspx" pattern="wenzhang.aspx" />
  </rewrite>
  <rewrite name="aboutus" type="other" page="aboutus.aspx" inherit="Qrcms.Web.UI.Page.article" templet="aboutus.html">
    <item path="aboutus.aspx" pattern="aboutus.aspx" />
  </rewrite>
  <rewrite name="tuihuo" type="other" page="tuihuo.aspx" inherit="Qrcms.Web.UI.Page.article" templet="tuihuo.html">
    <item path="tuihuo.aspx" pattern="tuihuo.aspx" />
  </rewrite>
  <rewrite name="txxz" type="other" page="txxz.aspx" inherit="Qrcms.Web.UI.Page.article" templet="txxz.html" />
  <rewrite name="txjc" type="other" page="txjc.aspx" inherit="Qrcms.Web.UI.Page.article" templet="txjc.html" />
  <rewrite name="caidaxiao" type="other" page="caidaxiao.aspx" inherit="Qrcms.Web.UI.Page.article" templet="caidaxiao.html">
    <item path="caidaxiao.aspx" pattern="caidaxiao.aspx" />
  </rewrite>
  <rewrite name="cainiuniu" type="other" page="cainiuniu.aspx" inherit="Qrcms.Web.UI.Page.article" templet="cainiuniu.html">
    <item path="cainiuniu.aspx" pattern="cainiuniu.aspx" />
  </rewrite>
</urls>